<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css}" />

<link rel="stylesheet" th:href="@{/css/site.css}" />
<title th:text="${title}">Title</title>
</head>
<body>
	<div th:fragment="navigation (active)">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Spring Demo</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li th:class="${'home'.equals(active)?'active':''}"><a
							th:href="@{/home}">Home</a></li>
						<li th:class="${'customer'.equals(active)?'active':''}"><a
							th:href="@{/customer}">Customer</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					<form class="navbar-form navbar-right" action="#"
						th:action="@{/logout}" method="post">
						<div class="form-group">
							<button type="submit" class="btn btn-link">Logout</button>
						</div>
					</form>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
	</div>
	<div th:fragment="script">
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
			th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
			th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	</div>
</body>
</html>