<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/common :: head (Customer)">
</head>
<body>
	<div class="container">
		<div th:replace="layout/common :: navigation (customer)"></div>
		<h1>Customer Management</h1>
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">Create New Customer</div>
					<div class="panel-body">
						<p>Create a new or edit an existing customer</p>
						<form action="#" th:action="@{/customer/save}"
							th:fragment="customer-edit" th:object="${editCustomer}"
							method="post" class="form-horizontal" id="customer-edit"
							data-demo-target="#all-customer-table">
							<input type="hidden" th:field="*{id}" />
							<div class="form-group">
								<input type="text" th:field="*{firstName}" class="form-control"
									placeholder="First Name" />
							</div>
							<div class="form-group">
								<input type="text" th:field="*{lastName}" class="form-control"
									placeholder="Last Name" />
							</div>
							<div class="form-group">
								<div class="btn-group btn-group-md" role="group">
									<a class="ajax btn btn-success" th:href="@{/customer/new}" data-demo-target="#customer-edit">New</a>
									<input type="submit" value="Save" class="btn btn-primary" />
								</div>
							</div>
						</form>
						<span>Database Plafrom <b th:text="${dbplatform}">Unknown</b></span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-8">
				<div class="panel panel-success">
					<div class="panel-heading">All Customers</div>
					<div class="panel-body">
						<p>Displays all the customers available in system</p>
					</div>
					<table th:fragment="all-customer-table" class="table table-hover"
						id="all-customer-table">
						<tr>
							<th>Id</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th></th>
						</tr>
						<tr th:each="customer : ${customers}">
							<td th:text="${customer.id}">1</td>
							<td th:text="${customer.firstName}">First Name</td>
							<td th:text="${customer.lastName}">Last Name</td>
							<td>
								<form action="#" th:id="'delete-form-' + ${customer.id}"
									th:action="@{/customer/delete/{id}(id=${customer.id})}"
									method="post" data-demo-target="#all-customer-table"></form>
								<form action="#" th:id="'edit-form-' + ${customer.id}"
									th:action="@{/customer/edit/{id}(id=${customer.id})}"
									method="get" data-demo-target="#customer-edit"></form>
								<div class="btn-group btn-group-md" role="group">
									<button value="Edit" class="ajax btn btn-primary"
										th:attr="data-demo-form='#edit-form-' + ${customer.id}">
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
									<button value="Delete" class="ajax btn btn-danger"
										th:attr="data-demo-form='#delete-form-' + ${customer.id}">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:include="layout/common :: script"></div>
	<script type="text/javascript" th:src="@{/js/customer.js}"></script>
</body>
</html>